<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sudoku</title>
</head>
<body>
    <div id="app"></div>
    <div class="tools">
        <div class="tips-arr hide">
            可填入的数字：<span></span>
        </div>
        <ul class="tool-nums">
            <li class="num">1</li>
            <li class="num">2</li>
            <li class="num">3</li>
            <li class="num">4</li>
            <li class="num">5</li>
            <li class="num">6</li>
            <li class="num">7</li>
            <li class="num">8</li>
            <li class="num">9</li>
        </ul>
        <button class="tool-btn btn-check">检查</button>
        <button class="tool-btn btn-submit">提交</button>
        <button class="tool-btn btn-tips">提示</button>
    </div>
    <script src="/static/bundle.js"></script>
</body>
</html>