* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    color: #fff;
}

body {
    background: #191a1d;
}

.hide {
    display: none;
}

#app {
    margin: 40px;
    display: inline-block;
    box-sizing: content-box;
    width: 315px;
    border: 1px solid #676767;
    border-right: none;
    border-bottom: none;
    background: radial-gradient(circle farthest-corner at 200px 0, #434752, #000);
}

.line:nth-of-type(3n) {
    border-bottom: 1px solid #676767;
}

.item:nth-last-of-type(3n + 1) {
    border-right: 2px solid #676767;
}

.line:first-of-type {
    border-top: 1px solid #676767;
}

.item {
    position: relative;
    vertical-align: bottom;
    display: inline-block;
    border-right: 1px solid #676767;
    border-bottom: 1px solid #676767;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    background: rgba(250, 249, 232, 0.1);
}

.item:focus {
    background: rgba(237, 243, 250, 0.1);
    /* outline: none; */
}

.item.static {
    font-weight: normal;
    background: rgba(255, 255, 255, 0.2);
}

.item.invalid {
    background: rgba(255, 221, 64, 0.9);
    color: #fff;
    animation: twinkle 0.5s;
}

@keyframes twinkle {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.item.tips::after {
    position: absolute;
    top: -1px;
    left: -1px;
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid #ffdd40;
    box-sizing: border-box;
}

.tools {
    margin: 20px;
}

.tool-nums {
    display: block;
    margin: 20px 0;
}

.tool-nums .num {
    position: relative;
    color: #fff;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background: #36383f;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
}

.num.active::after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #ffdd40;
    border-radius: 3px;
    box-sizing: border-box;
}

.tool-btn {
    box-sizing: content-box;
    width: 50px;
    height: 35px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 15px;
    border: 3px solid #c5c8d4;
    background: transparent;
    vertical-align: bottom;
}
.tool-btn.pressed {
    color: #222;
    background: #fff;
    border: none;
    height: 41px;
    width: 56px;
    line-height: 41px;
}
.tool-btn:hover {
    background: #000;
}
.tool-btn.pressed:hover {
    background: #fff;
}