* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    color: #222;
}

#app {
    margin: 40px;
    display: inline-block;
    box-sizing: content-box;
    width: 315px;
    border: 1px solid #222;
    border-right: none;
    border-bottom: none;
}

.line:nth-of-type(3n) {
    border-bottom: 1px solid #222;
}

.item:nth-last-of-type(3n + 1) {
    border-right: 2px solid #222;
}

.line:first-of-type {
    border-top: 1px solid #222;
}

.item {
    position: relative;
    vertical-align: bottom;
    display: inline-block;
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    background: rgba(250, 249, 232, 1);
}

.item:focus {
    background: rgba(237, 243, 250, 1);
    /* outline: none; */
}

.item.static {
    font-weight: normal;
    background: #fff;
}

.item.invalid {
    background: rgba(241, 124, 103, 0.8);
    color: #fff;
    animation: twinkle 0.5s;
}

@keyframes twinkle {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.item.tips::after {
    position: absolute;
    top: -1px;
    left: -1px;
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid salmon;
    box-sizing: border-box;
}

.tool-nums {
    display: block;
    margin: 20px;
}

.tool-nums .num {
    position: relative;
    color: #fff;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background: rgba(145, 196, 210, 0.7);
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
}

.num.active::after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #db7663;
    border-radius: 3px;
    box-sizing: border-box;
}

.tool-btn {
    width: 50px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #f17c67;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 15px;
}